.grid {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #111;
  border: 1px solid var(--gold-text);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.avatar {
  width: 120px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #444;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.7;
}

.avatar:hover {
  border-color: var(--gold-text);
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}

.selected {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid var(--gold-text);
  opacity: 1;
  transform: scale(1.15);
  box-shadow: 0 0 14px rgba(255, 215, 0, 0.6);
  transition: 0.2s;
}

/* --- RESPONSIVE 1024px (2 arriba, 2 abajo) --- */
@media (max-width: 1024px) {
  .grid {
    display: grid; 
    /* Creamos 2 columnas iguales */
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center; /* Centramos los avatares dentro */
    gap: 30px;
    padding: 20px;
  }

  .avatar, .selected {
    width: 140px; /* Un poco más grandes para llenar el espacio */
    height: 140px;
  }
}

/* --- RESPONSIVE 700px (Todo igual, pero círculos más pequeños) --- */
@media (max-width: 700px) {
  .grid {
    gap: 15px;
    padding: 15px;
  }
  .avatar, .selected {
    width: 100px; 
    height: 100px;
  }
}