.navbar {
  /* para dejar arriba el navbar fijo*/
  position: sticky; /* dejarlo fijo arriba y top: 0*/
  top: 0;
  z-index: 1000; /* Para que pase por encima de las tarjetas */
  background: rgba(0, 0, 0, 0.8); /* Un negro con transparencia */

  /* Este es el truco Pro: difumina lo que pasa por detrás */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Para Safari */

/* Una línea sutil abajo para separar */
  border-bottom: 1px solid rgba(255, 215, 0, 0.4); /* Dorado muy suave */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;

}

/* LOGO */
.logoImg {
  height: 60px;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
}

/* MENÚ */
.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

/* LINKS */
.menu a {
  text-decoration: none;
  color: white; /* letras blancas */
  font-weight: 500;
  transition: color 0.3s ease;
}

.user img{
  cursor: pointer;
  transition: color 0.3s ease;
  width: 45px;
  filter: brightness(0) drop-shadow(0 0 8px rgba(255, 255, 255, 0.9));
}


.menu a:hover,
.user span:hover {
  color: var(--gold-text);
}

