.navbar {
  /* para dejar arriba el navbar fijo*/
  position: sticky; /* dejarlo fijo arriba y top: 0*/
  top: 0;
  z-index: 1000; /* Para que pase por encima de las tarjetas */
  background: rgba(0, 0, 0, 0.8); /* Un negro con transparencia */

  /* Este es el truco Pro: difumina lo que pasa por detrás */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Para Safari */

/* Una línea sutil abajo para separar */
  border-bottom: 1px solid rgba(255, 215, 0, 0.4); /* Dorado muy suave */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;

}

/* LOGO */
.logoImg {
  height: 60px;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
}


/* MENÚ */
.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

/* LINKS */
.menu a {
  text-decoration: none;
  color: white; /* letras blancas */
  font-weight: 500;
  transition: color 0.3s ease;
}

/* imagen del usuario/avatar */
.img{
  cursor: pointer;
  transition: color 0.3s ease;
  width: 45px;
  /* filtro negro para que no se vea el user/avatar */
  filter: brightness(0) drop-shadow(0 0 8px rgba(255, 255, 255, 0.9)); 
}

/* para activar el user/avatar a crear el ususario*/
.imgActive {
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease;
  width: 45px;
  /* Mantenemos solo el resplandor, eliminamos el brillo 0 */
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.9));
}

.menu a:hover,
.user span:hover {
  color: var(--gold-text);
}

.user{
  display: flex;
  align-items: center; /* Esto alinea los centros de ambos elementos */
  
}
/* Contenedor del link para alinear imagen y texto */
.userLink {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

/* 2. Ajuste fino del nombre */
.userName {
  color: var(--gold-text);
  font-weight: 500;
  font-size: 1rem;
  display: inline-block;
  margin-right: 10px; 
}
.imgActive {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}