/* CharacterListPage CSS */
.CharacterListPage {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;     /* Centra horizontalmente */
  justify-content: flex-start; /* Alinea al inicio (arriba) */
  padding-top: 10px;       
  text-align: center;
}

/* Contenedor que envuelve a todas las tarjetas */
.list-container {
  
  display: flex;
  flex-wrap: wrap;       /* Permite que los elementos salten de fila */
  justify-content: center; 
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}


.list-container > div {
  flex: 0 1 calc(33.33% - 30px); 
  min-width: 300px; 
  display: flex;
  flex-direction: column;
}
.list-container > div:nth-child(n+4) {
  max-width: calc(33.33% - 30px);
}

.container {
  width: 100%;
  min-height: 100vh;
  /* todo el fondo transparente */
  background: transparent; 
}

/* LOGO DE LOADING*/
.loading-container {
  /* Usamos fixed para que flote por encima de todo y no mueva la paginación */
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  /* IMPORTANTE: Esto pone los elementos en columna (uno debajo de otro) */
  flex-direction: column; 
  justify-content: center; /* Centra verticalmente */
  align-items: center;     /* Centra horizontalmente */
  
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para resaltar */
  z-index: 9999; /* Valor muy alto para que nada lo tape */
}

.loading-img {
  width: 150px;       
  height: auto;        /* Mantiene la proporción */
}

.loading-container p {
  color: var(--gold-text); 
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 20px;
  margin: 0;
}

/* Paginación */
/* CONTENEDOR GENERAL */
.pagination-wrapper {
  position: fixed;
  right: 100px;              /* separación del borde derecho */
  top: 50%;                  /*altura verticalmente */
  transform: translateY(-50%); /* centrado vertical */
}

/* CONTENEDOR BOTONES */
.pagination {
  display: flex;
  flex-direction: column;   /* vertical */
  gap: 10px;
  align-items: center;
  padding: 10px;
  background: rgba(0,0,0,0.4); /* fondo transparente */
  border-radius: 10px;
  backdrop-filter: blur(6px);
}

/* BOTONES */
.pagination button { 
  width: 45px;
  height: 45px;
  padding: 0;
  cursor: pointer; 
  border: 1px solid #ccc;
  background: white;
  transition: 0.3s;
  border-radius: 8px;
  font-weight: bold;
}

/* ACTIVO */
.pagination button.active { 
  background-color: #e63946;
  color: white; 
  border-color: #e63946;
}

/* DISABLED */
.pagination button:disabled { 
  opacity: 0.3; 
  cursor: not-allowed; 
}

/* HOVER */
.pagination button:hover {
  background-color: var(--gold-text);
  color: black;
}

@media (max-width:600px) {

.list-container > div {
  min-width: 350px; 
  
}
.pagination-wrapper {
    right: 8px; 
  }

  /* botones más pequeños */
  .pagination button {
    width: 30px;
    height: 30px;
    font-size: 0.7rem;
    border-radius: 5px;
  }

  .pagination {
    gap: 5px;
    padding: 6px;
  }
  /* HOVER */
.pagination button:hover {
  background-color:white;
}

}

  
