:root {
    /* Colores Principales */
    --primary-red: #9e2a18;       /* Rojo del banner de Spotify */
    --dark-red: #7a1f12;          /* Rojo oscuro de la lista de canciones */
    --gold-text: #d4b170;         /* Dorado de "BLU-RAY" y diamantes */
    
    /* Fondos y Neutros */
    --bg-dark: #0a0a0a;           /* Fondo casi negro del header */
    --text-white: #ffffff;        /* Blanco puro para títulos */
    --text-gray: #a0a0a0;         /* Gris para nombres de artistas (LiSA, Aimer) */
    
}

/* Box-sizing: queremos que padding y border se incluyan dentro del width/height */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* Elimina márgenes y paddings por defecto del navegador */
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  
}

/* Esto afectará a toda la aplicación */
body {
  margin: 0;
  padding: 0;
  /* El fondo se queda fijo mientras haces scroll */
  background: url('/public/demon-slayer-pattern.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  min-height: 110vh;
}