:root {
    --primary-red: #9e2a18;      
    --dark-red: #7a1f12;         
    --gold-text: #d4b170;     
    
    --bg-dark: #0a0a0a;           
    --text-white: #ffffff;        
    --text-gray: #a0a0a0;        
    
}

/* Box-sizing: queremos que padding y border se incluyan dentro del width/height */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  
}

/* Esto afectará a toda la aplicación */
body {
  margin: 0;
  padding: 0;
  /* El fondo se queda fijo mientras haces scroll */
  background: url('/public/demon-slayer-pattern.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  min-height: 150vh;
  overflow-x: hidden;
}
